ion-content{
  --ion-background-color:#ffffff;
}

ion-toolbar{
  --background:#2d1d5a;
}

ion-item {
  --padding-left: 0;
}

ion-title{
  --color: #ffffff;
}

ion-menu-button {
  --color: #ffffff;
}

ion-icon {
  margin: 5px;
 
  
}

ion-list {
  margin: 0%;
}

.events{
  padding: 1rem;
  padding-left: 0.5rem;
  height: 95vh;
}




