
<ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" ></ion-menu-button>
      </ion-buttons>
      <ion-title>Mis Eventos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="events">
    <div class="ion-text-uppercase">
        <h3  _ngcontent-wfm-c1="" style="
        text-align: center;" >{{ date | date: 'MMMM'}}</h3>
    </div>
  
    <ion-list *ngFor="let event of events" >
      <ion-item class="event-item bordered"
        [class.confirmado] = "event.estado == 1"
        [class.reservado] = "event.estado == 2"
        [class.pendiente] = "event.estado == 3"
        [class.completado] = "event.estado == 4"
        (click)="detalles(event)" >
        <ion-label >
          <h2>{{ event.espaciofisico }}</h2>
          <h3>{{ event.procedimientos }}</h3>
          <p>{{ event.fechahorainicio.substring(0,11) }} {{ event.fechahorainicio.substring(11,16) }} </p>
        </ion-label>
      </ion-item>
      <br>
    </ion-list>
<!-- 
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
              <ion-icon name="arrow-dropleft"></ion-icon>
            <ion-label>Mes Anterior</ion-label>
          
          </ion-tab-button>
      
      
          <ion-tab-button tab="about">
              <ion-icon name="arrow-dropright"></ion-icon>
            <ion-label>Mes Siguiente</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
-->
   
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="arrow-dropleft"></ion-icon>
        <ion-label>Mes Anterior</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-label>Mes Siguiente</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

