ion-content{
  --ion-background-color:#ffffff;
}

ion-toolbar{
  --background:#2d1d5a;
}

ion-item {
  --padding-left: 0;
}

ion-title{
  --color: #ffffff;
}

ion-menu-button {
  --color: #ffffff;
}

ion-icon {
  margin: 5px;
 
  
}

ion-list {
  margin: 0%;
}

.events{
  padding: 1rem;
  padding-left: 0.5rem;
  height: 95vh;
}

.bordered{
  border-left: 1px solid;
  border-left-width: 20px;
}

.confirmado {
  border-left-color: #6963fc;
}

.reservado{
  border-left-color: #cacaca;
}


.pendiente{
  border-left-color: #fddb7f;
}


.completado{
  border-left-color: #04d99d;
}



