<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Evento</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
  <div class="general">
      <ion-item>
        <ion-button slot="end" color="light" (click)="back(evento?.evento.idempresa,evento?.evento.mes,evento?.evento.ano)">
          <ion-icon name="arrow-back"></ion-icon>
          <ion-label class="back">Volver </ion-label>
        </ion-button>
      </ion-item>
      <ion-item>
        <h3 class="ion-text-uppercase" _ngcontent-wfm-c1="" class="text-custom-bold" style="text-align: left;" > {{ evento?.evento.espaciofisico }} </h3>
        <ion-note *ngIf="evento?.evento.estado == 2"  slot="end"  color="dark" class="confirmado"> 
          <h5 class="text-custom-bold text_confirmado">   Confirmado</h5> 
        </ion-note>
        <ion-note *ngIf="evento?.evento.estado == 4"  slot="end" class="text-custom-bold" color="dark" class="reservado"> 
          <h5 class="text-custom-bold text">  Reservado </h5> 
        </ion-note>
        <ion-note *ngIf="evento?.evento.estado == 1"  slot="end" class="text-custom-bold" color="dark" class="pendiente"> 
          <h5 class="text-custom-bold text"> Pendiente </h5> 
        </ion-note>
        <ion-note *ngIf="evento?.evento.estado == 3"  slot="end" class="text-custom-bold" color="dark" class="completado"> 
          <h5 class="text-custom-bold text">Completado</h5> 
        </ion-note>
      </ion-item>
      <ion-item>
        <h5 class="ion-text-uppercase" _ngcontent-wfm-c1="" style="text-align: left;" >{{ evento?.evento.procedimientos }} </h5>
      </ion-item>
      <ion-item>
          <ion-label class="ion-text-capitalize">FECHA EVENTO: 
            <h2 style="text-align: right;">{{ evento?.evento.fechahorainicio.substring(0,16)}}</h2>
          </ion-label>
        </ion-item>
      <ion-item>
        <ion-label class="ion-text-capitalize">PACIENTE: 
          <h2 style="text-align: right;">{{ evento?.evento.paciente }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-capitalize">CIRUJANO/S: 
          <h2 style="text-align: right;">{{ evento?.evento.cirujanos }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-capitalize">ANESTESIÓLOGO: 
          <h2 style="text-align: right;">{{ evento?.evento.anestesiologo }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-capitalize">OTROS PARTICIPANTES:
            <h2 style="text-align: right;"> {{ evento?.evento.apoyo }}</h2>
        </ion-label>
      </ion-item>
   
  </div>
    
     
  </ion-content>
  <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons *ngIf="evento?.evento.estado != 3" slot="start" >
        <ion-button  slot="start" color="danger" (click)="cancel(evento?.evento.idevento,evento?.evento.idempresa,evento?.evento.mes,evento?.evento.ano)">
          <ion-icon name="close"></ion-icon>
          <ion-label>Cancelar </ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="evento?.evento.estado == 2" slot="primary">
        <ion-button   slot="end"  color="primary" (click)="complete(evento?.evento)">
          <ion-label>Completar </ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  