ion-content{
    --ion-background-color:#ffffff;
  }
  
  ion-toolbar{
    --background:#2d1d5a;
  }
  
  ion-item {
    --padding-left: 0px;
  }
  
  ion-title{
    --color: #ffffff;
  }
  
  ion-menu-button {
    --color: #ffffff;
  }
  
  ion-icon {
    margin: 5px;
  }

  .general {
      margin:25px;
  }

  .sala_estado{
    margin-top: 75px;
  }