ion-content{
    --ion-background-color:#ffffff;
  }
  
  ion-toolbar{
    --background:#2d1d5a;
  }
  
  ion-item {
    --padding-left: 0px;
  }
  
  ion-title{
    --color: #ffffff;
  }
  
  ion-menu-button {
    --color: #ffffff;
  }
  
  ion-icon {
    margin: 5px;
  }

  .general {
      margin:25px;
  }

  .sala_estado{
    margin-top: 75px;
  }

  .back{
    text-transform: uppercase;
  }

  .text{
    color: darkslategrey;
  }

  .text_confirmado{
    color:#cacaca;
  }


  .confirmado {
    border-top: 13px;
    margin-top: 5px;
    padding: 10px;
    background-color: #6963fc;
    border-color: #6963fc;
   
    
  }

  .reservado{
    border-top: 13px;
    margin-top: 5px;
    padding: 10px;
    background-color: #cacaca;
    border-color: #cacaca;
  }


  .pendiente{
    border-top: 13px;
    margin-top: 5px;
    padding: 10px;
    background-color: #f3dd21;
    border-color: #f3dd21;
  }

  .completado{
    border-top: 13px;
    margin-top: 5px;
    padding: 10px;
    background-color: #08b33f;
    border-color: #08b33f;
    
  }