<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="general">
   
    <ion-item>
      <h3 class="ion-text-uppercase" _ngcontent-wfm-c1="" style="text-align: left;" > Sala 3 </h3>
      <ion-note slot="end" color="dark" class="bordered">Confirmado</ion-note>
    </ion-item>
    <ion-item>
      <h5 class="ion-text-uppercase" _ngcontent-wfm-c1="" style="text-align: left;" >DESCOMPRESION NERVIO OPTICO VIA ENDOSCOPICA </h5>
     
    </ion-item>
  
  
  <!-- <ion-item >
    <ion-label class="ion-text-uppercase">{{ evento?.evento.procedimientos }}</ion-label> 
   
  </ion-item> -->
  <ion-item>
    <ion-label class="ion-text-capitalize">PACIENTE: 
      <h3>Tomás Guerrero</h3>

    </ion-label>
  
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-capitalize">CIRUJANO/S: </ion-label>
   
    <h6>Alvaro Silva; Juan Perez</h6>
   
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-capitalize">ANESTESIÓLOGO: Mateo Fuentes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-capitalize">OTROS PARTICIPANTES:</ion-label>
    <p>
      Mateo Fuentes
    </p>
  </ion-item>
 
</div>
  
   
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="secondary" color="">
      <ion-button>
        <ion-icon name="exit"></ion-icon>
        <ion-label>Cancelar Evento</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-label>Completar Evento</ion-label>
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
