// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-font-family: 'Hops_Font';
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** ppal **/
  --ion-color-ppal: #68e5ad;
  --ion-color-ppal-rgb: 104,229,173;
  --ion-color-ppal-contrast: #ffffff;;
  --ion-color-ppal-contrast-rgb: 0,0,0;
  --ion-color-ppal-shade: #5cca98;
  --ion-color-ppal-tint: #77e8b5;

   /** white **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /**reservado**/
  --ion-color-reservado: #cacaca;
  --ion-color-reservado-rgb: 202,202,202;
  --ion-color-reservado-contrast: #000000;
  --ion-color-reservado-contrast-rgb: 0,0,0;
  --ion-color-reservado-shade: #b2b2b2;
  --ion-color-reservado-tint: #cfcfcf;

  /**confirmado**/
  --ion-color-confirmado: #6963fc;
  --ion-color-confirmado-rgb: 105,99,252;
  --ion-color-confirmado-contrast: #ffffff;
  --ion-color-confirmado-contrast-rgb: 255,255,255;
  --ion-color-confirmado-shade: #151435;
  --ion-color-confirmado-tint: #7873fc;

  /**pendiente**/
  --ion-color-pendiente: #f3dd21;
  --ion-color-pendiente-rgb: 243,221,33;
  --ion-color-pendiente-contrast: #000000;
  --ion-color-pendiente-contrast-rgb: 0,0,0;
  --ion-color-pendiente-shade: #d6c21d;
  --ion-color-pendiente-tint: #f4e037;

  /**completado**/
  --ion-color-completado: #08b33f;
  --ion-color-completado-rgb: 8,179,63;
  --ion-color-completado-contrast: #ffffff;
  --ion-color-completado-contrast-rgb: 255,255,255;
  --ion-color-completado-shade: #079e37;
  --ion-color-completado-tint: #21bb52;

}

.ion-color-reservado {
  --ion-color-base: var(--ion-color-reservado);
  --ion-color-base-rgb: var(--ion-color-reservado-rgb);
  --ion-color-contrast: var(--ion-color-reservado-contrast);
  --ion-color-contrast-rgb: var(--ion-color-reservado-contrast-rgb);
  --ion-color-shade: var(--ion-color-reservado-shade);
  --ion-color-tint: var(--ion-color-reservado-tint);
}

.ion-color-completado {
  --ion-color-base: var(--ion-color-completado);
  --ion-color-base-rgb: var(--ion-color-completado-rgb);
  --ion-color-contrast: var(--ion-color-completado-contrast);
  --ion-color-contrast-rgb: var(--ion-color-completado-contrast-rgb);
  --ion-color-shade: var(--ion-color-completado-shade);
  --ion-color-tint: var(--ion-color-completado-tint);
}

.ion-color-pendiente {
  --ion-color-base: var(--ion-color-pendiente);
  --ion-color-base-rgb: var(--ion-color-pendiente-rgb);
  --ion-color-contrast: var(--ion-color-pendiente-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pendiente-contrast-rgb);
  --ion-color-shade: var(--ion-color-pendiente-shade);
  --ion-color-tint: var(--ion-color-pendiente-tint);
}

.ion-color-confirmado {
  --ion-color-base: var(--ion-color-pendiente);
  --ion-color-base-rgb: var(--ion-color-pendiente-rgb);
  --ion-color-contrast: var(--ion-color-pendiente-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pendiente-contrast-rgb);
  --ion-color-shade: var(--ion-color-pendiente-shade);
  --ion-color-tint: var(--ion-color-pendiente-tint);
}


.ion-color-ppal {
  --ion-color-base: var(--ion-color-ppal);
  --ion-color-base-rgb: var(--ion-color-ppal-rgb);
  --ion-color-contrast: var(--ion-color-ppal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ppal-contrast-rgb);
  --ion-color-shade: var(--ion-color-ppal-shade);
  --ion-color-tint: var(--ion-color-ppal-tint);
}


.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

@font-face {
  font-family: 'Hops_Font';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Biko_Regular.otf');
}

@font-face {
  font-family: 'Hops_Font_Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Biko_Bold.otf');
}

@font-face {
  font-family: 'Hops_Font_Black';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Biko_Black.otf');
}

.text-custom{ 
  font-family: "Hops_Font"; 
}

.text-custom-bold{ 
  font-family: "Hops_Font_Bold"; 
}

.text-custom-black{ 
  font-family: "Hops_Font_Black"; 
}