ion-menu{
    --ion-background-color:#2d1d5a;
}

ion-thumbnail{
    margin-right: 0;
    margin-left: -2px;
}

.menu{
    width:50%;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
    background: #2d1d5a;
}

.user{
    color: #ffffff; 
}

p{
    color: #68e5ad; 
}

.userinfo{
    padding-bottom: 20px;
   
}

.list{
    margin-left: 10px;
}

.menu_footer{
    color:#f4f5f8;
}
  